

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body cz-shortcut-listen="true">

 

  <main class="container mt-0 overflow-hidden">


    <div class="p-4 p-md-5 mb-4 mt-4 rounded text-bg-dark imgportfolio ">

    <!-- Ajustar ! cambiar para que desaparezca en moviles  h1-->

      <h1 class="display-6 text-center" style="font-size: bold;"> <img src="https://lh3.googleusercontent.com/p/AF1QipN0SColZagVaj-IrO60kruy_FlIaJ6PWVhRGyab=s680-w680-h510" alt="">
        
        </h1>

    </div>

    <div class="row mb-2 mt-5" >
      <div class="col-md-6" >
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0" style="color:#2C3E50">ARPLADUR MIJAS</h3>
            <div class="mb-1 " style="color:#070ac4 "  >Quienes Somos</div>
            <p class="card-text mb-auto">Especializado en Angular , mi proceso de aprendizaje fue cursos de Victor Robles en Udemy y la ruta Front-end de OpenBootCamp</p>
            <a href="https://github.com/Antonio-DelaRua" class="links">Mas sobre nuestros trabajos</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="200" src="https://lh3.googleusercontent.com/p/AF1QipOznNcsImFvJlcRhvfHfkrn1z8W03CUgLhoeek_=s680-w680-h510" >

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0" style="color:#2C3E50;">Cursos De Formacion</h3>
            <div class="mb-1 "style="color: #070ac4">Apuntate y formate con nosotros</div>
            <p class="mb-auto">Ademas de los cursos de Angular me he ido formando con todas las herramientas necesarias para poder manejar el framework</p>
            <a href="#" class="links">Más Informarción</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img mt-2" width="200" height="200" src="https://lh3.googleusercontent.com/p/AF1QipNutHGU4zoxWmd3xa8pMzkcugtALKrEGELkUJZn=s680-w680-h510" >

          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom" style="color:#2C3E50">
          
        </h3>

        <article class="blog-post">
         
          <section class="services" id="services">
            <h2 class="heading" style="padding-bottom: 5rem">
                
                <span>Nuestros Servicios</span>
            </h2>
                
            <div class="services-container"> 
                    <div class="services-box">
                        <i class='bx bx-recycle'></i>
                        <h3>Servicio1</h3>
                        <p>
                            ALM (Application Lifecycle Management) es una metodología y conjunto de herramientas para gestionar el ciclo de vida completo de una aplicación, desde el desarrollo hasta el despliegue y mantenimiento.
                        </p>
                        <a class="btn" id="popup-button-3">Read More</a>
                            <div id="popup-overlay-3" class="popup-overlay-3">
                              <div id="popup-content-3" class="popup-content-3">
                               
                                                            <h2 style="margin-top: 15px;"></h2>
                                                        
                                                            
                                                            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic iste tempore molestias nobis blanditiis quidem eaque! Necessitatibus est culpa non eligendi, reiciendis explicabo natus corporis unde fugiat tenetur pariatur cupiditate.</p>
                            
                                <button class="btn" id="close-button-3" style="background-color: black;color:aliceblue; font-family: 'Futura';">Cerrar</button>
                              </div>
                            </div>
                    
                    </div>
    
                <div class="services-box">
                    <i class='bx bx-pie-chart'></i>
                    <h3>servicio2</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, aliquam. Hic iste vitae consequatur dicta. Quisquam, commodi! Laborum, a itaque voluptas dignissimos consequatur obcaecati explicabo est quos vero voluptatum mollitia.
                    </p>
                    <a class="btn" id="popup-button-1">Read More</a>
                        <div id="popup-overlay-1" class="popup-overlay-1">
                          <div id="popup-content-1" class="popup-content-1">
                            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content-1 ">
                                        <div class="close-modal-1 justify-content-center" data-bs-dismiss="modal"><img src="https://e0.pxfuel.com/wallpapers/505/356/desktop-wallpaper-computer-programming.jpg" alt="Close modal" width="90%" height="200"/></div>
                                        <div class="container popup1">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8">
                                                    <div class="modal-body">
                                                       
                                                        <h2>MONITORING </h2>
                                                    
                                                        
                                                        <p> Monitoring and logging play a crucial role in DevOps by providing real-time insights into system performance, identifying issues, and ensuring efficient operations. Tools like Prometheus offer powerful metrics collection and alerting capabilities, while Grafana provides flexible visualization of data. The ELK stack (Elasticsearch, Logstash, and Kibana) is widely used for log management, analysis, and monitoring. Together, these tools empower teams to proactively address performance bottlenecks and maintain system reliability.</p>
                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn" id="close-button-1" style="background-color: black;color:aliceblue; font-family: 'Futura';">Cerrar</button>
                          </div>
                        </div>
                </div>
    
                <div class="services-box">
                    <i class='bx bx-test-tube' ></i>
                    <h3>Servicio3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem facilis perferendis debitis nostrum. Cum sint quos eos natus aut quae impedit, hic repellat praesentium perspiciatis id, ullam, quidem delectus non!
    
                    </p>
                    <a class="btn" id="popup-button-2">Read More</a>
                    <div id="popup-overlay-2" class="popup-overlay-2">
                      <div id="popup-content-2" class="popup-content-2">
                        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content-2">
                                    <div class="close-modal-2 justify-content-center" data-bs-dismiss="modal"><img src="https://www.imagebee.org/comics/answer/answer-1-1250x834.jpg" alt="Close modal" width="90%" height="200"/></div>
                                    <div class="container popup1">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <div class="modal-body">
                                                    <h2>QUESTION AND ANSWER</h2>
                                                    
                                                    <p>During the Q&A session, encourage active participation from the audience to foster engagement and create a space for knowledge sharing. By addressing concerns, clarifying doubts, and providing practical examples, the session promotes a holistic understanding of DevOps principles and their benefits in website development. This collaborative approach strengthens team dynamics and facilitates the successful adoption of DevOps practices, ultimately leading  efficient workflows, faster delivery cycles, and higher-quality software. </p>
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn" id="close-button-2" style="background-color: black;color:aliceblue; font-family: 'Futura';">Cerrar</button>
                      </div>
                    </div>
                </div>
            </div>
        </section>


        </article>

        
       



      </div>

      <div class="col-md-4 d-flex justify-content-center " >

        

        <div class="position-relative">

          <div class="p-4" id="listas01">
         
          </div>

          <div class="p-4" id="listas02">
           
           
            <h4 class="fst-italic" style="color:#2C3E50;margin-bottom: 25px">Ultimos trabajos</h4>
          <div class="p-4 mb-3 bg-light rounded" id="diploma1">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOwdpmzwAR1Xtg3CApvzQOOU15qeFaUjJlVzjXZ=s680-w680-h510" style="width:300px; ">

          </div>
          <div class="p-4 mb-3 bg-light rounded">
            <img src="https://lh3.googleusercontent.com/p/AF1QipMjH_WcpjrMr9bWnkbe8CvfJtVcF8LM9C_4rvGX=s680-w680-h510" style="width:300px; ">

          </div>
          <div class="p-4 mb-3 bg-light rounded">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOznNcsImFvJlcRhvfHfkrn1z8W03CUgLhoeek_=s680-w680-h510" style="width:300px; ">

          </div>
          <div class="p-4 mb-3 bg-light rounded">
            <img src="https://lh3.googleusercontent.com/p/AF1QipNutHGU4zoxWmd3xa8pMzkcugtALKrEGELkUJZn=s680-w680-h510" style="width:300px; ">

          </div>
          <div class="p-4 mb-3 bg-light rounded">
            <img src="https://lh3.googleusercontent.com/p/AF1QipOmrefK220Fs3xzAiI0QiseSnL-rQ7oDz2AtFh6=s680-w680-h510" style="width:300px; ">

          </div>
          </div>
        </div>
      </div>
    </div>

  </main><div style="position: absolute !important;"></div>



<div>
    
  </div>

  