


.post{
    color:#07bdc4;
}

.linea{
    border-top: 2px solid aliceblue;
    margin-bottom: 40px;
    width: 80%;

}

.links {
    color: rgb(223, 223, 34);
    text-decoration: none;
}


.imgportfolio {
  background-image: url('https://lh3.googleusercontent.com/p/AF1QipOmrefK220Fs3xzAiI0QiseSnL-rQ7oDz2AtFh6=s680-w680-h510');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

